html{
	background-color: white;
}


body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	max-width: 1024px;
	width: 99%;
}

.main_container {
	width: 100%;
	text-align: center;
	border: solid 3px black;
	background-color: #82cef1;
	clear: left;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: aliceblue;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 0.5rem;
}


@media only screen and (max-width: 1024px) {
	section h1 {
		font-size: 135%;
	}
	section h2 {
		font-size: 120%;
	}
	aside h2 {
		font-size: 120%;
	}
}
@media only screen and (max-width: 959px) {
	section h1 {
		font-size: 115%;
	}
	section h2 {
		font-size: 105%;
	}
	aside h2 {
		font-size: 105%;
	}
}
@media only screen and (max-width: 767px){
	body{
		text-align: center;
	}
}
@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}