html{
	background-color: white;
}


body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	max-width: 960px;
	width: 99%;
}

.main_container {
	margin-left: 25%;
	margin-right: 50%;
	width: 100%;
	text-align: center;
	border: solid 3px black;
	background-color: #82cef1;
	clear: left;
}

footer {
	background-color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: left;
}

footer div span {
	text-align: center !important;
	color: #fffded !important;
}


@media only screen and (max-width: 959px) {
	section h1 {
		font-size: 135%;
	}
	section h2 {
		font-size: 120%;
	}
	aside h2 {
		font-size: 120%;
	}
}
@media only screen and (max-width: 767px){
	body{
		text-align: center;
	}
}
@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}